/*HomePage.css*/

.logo-enterance {
  padding-top: 2.5rem;
  max-width: 500px;
  /*Bunu yeni ekledim*/
  padding-bottom: 1rem;
  display: block;
  margin: 0 auto;
}

.addition-yellow-text {
  margin: 0 auto;
  font-family: Satisfy;
  font-size: 1.9rem;
  color: #FDC913;
}

.big-white-text {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  font-size: 4.5rem;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}

.btn-danger {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  background-color: #FDC913;
  margin-top: 1rem;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  text-decoration: none;
  color: black;
}

.enterance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enterance-header {
  background-image: url("../images/iteration-1-images/home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.summary-alindi {
  color: white;
  padding: 1.8rem 1.8rem;
  width: 350px;
  border: 1px solid #D9D9D9;
  border-radius: 2%;
}

.siparis-line {
  width: min(700px, 80%);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 24px auto 0;
}

/*Anasayfa bitti*/
/*header k覺sm覺*/
.item-list {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.3rem;
}

.item-list a {
  gap: 1.1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}


/*main k覺sm覺*/
main{
   background-color: #FAF7F2;
}

.card-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.major-card {
  background-image: url("../images/iteration-2-images/cta/kart-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 30rem;
  height: 25rem;
  border-radius: 10px;
}

.major-card h1 {
  font-size: 4rem;
  margin: 2rem;
  margin-bottom: 0;
}

.major-card p,
.btn-secondary {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  margin: 2rem;
  margin-top: 0.5rem;
}

.minor-card-display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.minor-card-1 {
  background-image: url("../images/iteration-2-images/cta/kart-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30rem;
  height: 12.4rem;
  border-radius: 10px;
}

.minor-card-1 h1 {
  font-family: "Barlow", sans-serif;
  margin: 1.5rem;
  font-weight: 300;
  color: white;
}

.minor-card-2 {
  background-image: url("../images/iteration-2-images/cta/kart-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30rem;
  height: 12.4rem;
  border-radius: 10px;
}

.minor-card-2 h1 {
  font-family: "Barlow", sans-serif;
  margin: 1.5rem;
}

.minor-card-2 span {
  font-family: "Barlow", sans-serif;
}

.btn-secondary {
  font-family: "Barlow", sans-serif;
  background-color: white;
  color: red;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: red;
  color: white;

}

/*Menu-order-selection*/

.big-primary-text {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  color: black;
}

.addition-red-text {
  font-family: Satisfy;
  font-size: 1.9rem;
  color: red;
}

.order-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

/*item-selection modified*/

.item-list-pill {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.3rem;
}

.item-list-pill a {
  padding: 1rem;
  gap: 0.5rem;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.item-list-pill a:hover {
  background-color: #292929;
  color: white;
}

.order-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.order-card {
  background-color: white;
  font-family: "Barlow", sans-serif;
  object-fit: cover;
  display: block;
  padding: 1rem;
}

.order-card h3 {
  font-weight: 600;
  padding-left: 1rem;
}

.comment-rate {
  display: flex;
  width: 100%;
  margin-right: 35px;
  justify-content: space-between;
}

.order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* footer */
footer {
  background-color: #292929;
  font-family: "Barlow", sans-serif;
  color: white;
  padding: 6rem 3rem 0 6rem;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

footer ul {
  padding: 2rem 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer li img {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

footer li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

footer i {
  margin-top: 1.1rem;
}

.instagram h3 {
  margin: 0 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.instagram-photos {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.instagram-photos img {
  width: 25%;
  box-sizing: border-box;
}

.menu-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hot-menu {
  padding-top: 3rem;
}

.instagram {
  padding-top: 4rem;
}

.trademark {
  margin-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.footer-hr {
  margin-top: 3rem;
  border: 1px solid white;
}

@media(max-width:950px) {
  header.enterance-header {
    background-image: url("../images/iteration-1-images/home-banner.png");
    min-height: 100vh;
    background-size: auto;
  }

  .addition-yellow-text {
    display: none;
  }

  .big-white-text {
    padding: 0 1rem;
    font-size: 4rem;
  }

  .logo-enterance {
    width: 75%;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  /*Index bitti*/
  .item-list {
    display: flex; /**/
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 29px;
  }

  .item-list a {
    display: flex;
    width: 30%;
    gap: 17px;
    justify-content: left;
    text-decoration: none;
    color: #000;
  }

  .item-list a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
  }

/*
  .item-list a:nth-child(odd) {
    justify-content: right;
}
  .item-list a:nth-child(even) {
    justify-content: left;
}
*/

  /*itemlist bitti*/
  .card-select {
    display: flex;
    flex-direction: column;
  }

  .major-card {
    width: 100%;
    min-width: 20rem;
    max-width: 20rem;
  }

  .minor-card-1 {
    width: 100%;
  }

  .minor-card-2 {
    width: 100%;
  }

  .minor-card-display {
    min-width: 20rem;
  }

  /*major-minor card bitti*/
  .item-list-pill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .order-cards {
    margin: 0 auto;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }

  .order-card img {
    margin: 0 auto;
    max-width: 75%;
    object-fit: cover;
    display: block;
  }

  /*order-cardlar bitti*/
  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .trademark {
  justify-content: space-between;
}

  footer {
    padding-left: 3rem;
  }
}