.siparis-header {
    background-color: red;
}

.siparis-header-inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
    padding-bottom: 1rem;
}

.links {
    padding-top: 1rem;
    padding-left: 1rem;
}

.tip {
    text-decoration: none;
    color: white;
}

.siparis-count-btn {
    min-width: 46px;
    min-height: 46px;
    width: 57px;
    height: 56px;
    background-color: #FDC913;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.summary {
    padding: 1rem 1.8rem;
    width: 350px;
    border: 1px solid #D9D9D9;
    border-radius: 2%;
}

#form-banner {
    width: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}